@model BoardGameCollection.Web.Models.GameTableGroupHeaderModel

<tr>
    <th colspan="3" class="group-header">
        <div>@Model.Caption</div>
    </th>
</tr>
<tr>
    <th></th>
    <th>
        <div>@Model.Left</div>
    </th>
    <th>
        <div class="playerGrid right">@Model.Right</div>
    </th>
</tr>