@model System.String

<tr>
    <th colspan="3" class="group-header">
        <div>@Model</div>
    </th>
</tr>
<tr>
    <th></th>
    <th>
        <div>Titel</div>
    </th>
    <th>
        <div class="playerGrid right">Spieler</div>
    </th>
</tr>