.right {
    text-align: right;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

header nav .container {
    background-color: whitesmoke;
    border-radius: 20px;
}

.game-table {
    width: 95%;
    max-width: 800px;
}
.game-table th {
    font-size: small;
    font-weight: normal;
}
    .game-table th.group-header {
        font-size: unset;
        font-weight: bold;
        border-bottom: solid 1px;
        text-align: center;
    }

    .game-table img {
        height: 50px;
        max-width: 75px;
        margin-right: 5px;
    }

.playerGrid {
    width: 38px;
    margin: 0 4px;
}
@media (min-width: 768px) {
    .playerGrid {
        width: 45px;
        margin: 0 5px;
    }
}

.playerNumbersContainer {
    display: flex;
    flex-direction: row;
}

    .playerNumbersContainer.reduced {
        font-size: small;
    }

.minMaxContainer {
    text-align: right;
}

.suggestContainer {
    display: flex;
    flex-direction: column;
    font-size: x-small;
}

    .suggestContainer .best {
        color: forestgreen;
    }

    .suggestContainer .worst {
        color: orangered;
    }